body, html { 
	margin: 0px;
    padding: 0px;
	height: 100%;
	width: 100%;
}

/* Авторизация */

#fadeBackground {
    /* display: none; */
    position: absolute;
    z-index: 1;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity:.70;
}

#authorizationForm {
    position: absolute;
    z-index: 2;
    width: 560px;
    height: 470px;
    margin-top: 10%;
    margin-left: calc((100% - 560px) / 2);
    text-align: left;
    background-image: url(https://a.radikal.ru/a05/1911/be/75f41abac896.png);
    /* background: blue; */
}

#closeButton {
    position: absolute;
    margin-left: 504px;
    margin-top: 30px;
    width: 25px;
    height: 25px;
    background-image: url(https://d.radikal.ru/d43/1911/bb/453bf9798fa3.png);
}

#textPadding {
    display: inline-block;
    width: 430px;
    height: 342px;
    margin-top: 64px;
    margin-left: 70px;
    /* background: green; */
}

#zagolovokH {
    margin-top: -10px;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    /* background: blue; */
}

#zagolovokP {
    margin-top: -10px;
    font-size: 16px;
    line-height: 24px;
    /* background: red; */
}

#wrongData {
	display: none;
	font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
	color: red;
}






#inputForm {
    margin-top: 40px;
    /* background: yellow; */
}

.fieldContainer {
	width: 430px;
	height: 48px;
	border: 1px solid #23415E;
	border-radius: 6px;
	margin-top: 8px;
}

.inputField {
	width: 398px;
	height: 20px;
	margin-left: 16px;
	margin-top: 14px;
	margin-right: 16px;
	margin-bottom: 14px;
	font-style: normal;
    font-weight: normal;
    font-size: 15px;
	line-height: 20px;
	border: 0px;
}

#inputButton {
    width: 100%;
    margin-top: 50px;
    height: 52px;
    border: 0px;
    border-radius: 10px;
    background-image: url(https://a.radikal.ru/a39/1911/02/4f83c64ee329.png);
    /* background: blanchedalmond; */
}








/* Шапка */
#header {
	display: inline-block;
  	position: relative;
	margin: 0px;
	height: 90px;
	width: 100%;
	overflow: hidden;
	color: #FFFFFF;
	background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
}

#headerInfo {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	/* background: green; */
}

#logoAndText {
	display: inline-block;
	width: 49vw;
	vertical-align: middle;
	/* background: blue; */
}

.logo {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 16px;
	margin-left: 15%;
	/* background: red; */
}

#headerLine {
	display: inline-block;
	margin-left: 10%;
	height: 14px;
}

#courier {
	display: inline-block;
	line-height: 162%;
	margin-left: 3%;
	color: #A9C5E0;
}

#numberAndLoginButton {
	display: inline-block;
	width: 50vw;
	text-align: right;
	vertical-align: middle;
	/* background: yellow; */
}

#headerNumber {
	display: inline-block;
	vertical-align: bottom;
	
	margin-right: 10%;
	/* background: aqua; */
}

#headerNumber #number {
	display: inline-block;
	font-size: 13px;
	line-height: 24px;
	color: #A9C5E0;
	/* background: red; */
}

#logInButton {
	display: inline-block;
	width: 170px;
	height: 52px;
	text-align: center;
	margin-right: 10%;
	background-image: url(https://c.radikal.ru/c04/1909/cc/7587fd44a907.png);
	/* background: brown; */
}

#logInButton #logInText {
	/* display: inline-block; */
	font-family: Proxima Nova;
	font-size: 18px;
	line-height: 100%;
	margin-top: 15px;
	vertical-align: middle;
	color: #E5E31F;
	/* background: blue; */
}